

/*Global styles*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comic Sans MS', "Comic Sans", "cursive";

}

main{
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.App{
  background-color: black;
  color: white;
}

.tweet-container {
  width: 100%; 
  max-width: 400px; 
}









